{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-attachment:absolute;background-position:0% 0%; background-size: cover;background-image: url('{% static 'images/background17.jpg' %}');background-repeat: no-repeat;width:100%;height:100%;position:absolute;">
<center>
<div class="container">
  <div class="row">
    <div class="col-md-6">
       <h2 class="text-center"><span style="font-size: 140%;"><br /></span></h2>
       <h2 class="text-center"><span style="font-size: 140%;">О НАС<br /></span></h2>
    <div class="text-center"><div class="is-divider divider clearfix" style="max-width:15%;height:2px;background-color:rgba(0, 0, 0, 0);"></div></div>
       <p>Мы внимательно следим за всеми международными разработками, и именно эти аппараты и препараты появляются первыми у нас. Мы делаем все, чтобы вы наслаждались каждой минутой пребывания в Aesthetica, &#8211; начиная от чашки ароматного кофе и уютных халатов Frette, и заканчивая персональным подбором косметики, авторского парфюмаи ароматов для дома.</p>
    </div>
    </div>
</div></div></div></center>
{% endblock %}