{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<div class="container">
<h2 style="margin-top:4%;color:black" align="center">Добавить сервисы</h2><hr>
<div class="container-fluid" style="width:70%;margin-top:4%">
<form method="post" action="">
{% csrf_token %}
  
  <div class="form-group">
    <label for="inputEmail4">Имя сервиса</label>
    <input type="text" class="form-control" placeholder="Добавьте имя сервиса" name="service" id="inputEmail4">
  <div class="form-group">
    <label for="exampleInputPassword1">Цена сервиса</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Добавьте цену" name="cost">
  </div>
  
<button type="submit" class="btn btn-primary">Добавить</button>
</form>
</div></div>

{% if error %}
<script>
    window.location = "{% url 'view_service' %}";
</script>
{% endif %}
{% endblock %}