{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<center><h2 style="margin-top:3%;font-weight:bold;color:black">Все сервисы</h2></center><hr>
<div class="carousel-inner row w-100 mx-auto">
{% for j in pro1 %}
<div class=" col-md-3 active">
   <div class="card" style="padding:0;width:80%;margin-bottom:4%">
      <div class="card-body text-center">
         <h4 class="card-title text-center">{{j.name}} </h4>
         <p class="card-text">Цена :{{j.cost}}</p>
         <a href="{% url 'book_select_appointment' j.id %}"><button type="submit" class="btn btn-primary">Записаться</button></a>
   	</div>
   </div>
</div>
{% endfor %}
</div>
{% endblock %}