{% extends 'navigation.html' %}
{% block body %}
{% load static %}

<div class="container">
<h2 style="margin-top:4%;color:black" align="center">Изменить пароль</h2><hr>
<div class="container-fluid" style="width:70%;margin-top:4%">
<form method="post" action="">
{% csrf_token %}
  
  <div class="form-group">
    <label for="exampleInputEmail1">Старый пароль</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd3">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Новый пароль</label>
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pwd1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Подтвердить пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1"  name="pwd2">
  </div>
  
<button type="submit" class="btn btn-primary">Изменить</button>
</form>
</div>
</div>

{% ifequal error "yes" %}
<script>
    alert('Пароль был изменен');
    window.location=('{% url 'logout' %}')
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Пароли не совпадают');
</script>
{% endifequal %}

{% endblock %}