{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-attachment:absolute;background-position:0% 0%; background-size: cover;background-image: url('{% static 'images/background17.jpg' %}');background-repeat: no-repeat;width:100%;height:100%;position:absolute;">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center"><span style="font-size: 140%;"><br /></span></h2>
      <h2 class="text-center"><span style="font-size: 140%;">Контакты<br /></span>
    <div class="text-center"><div class="is-divider divider clearfix" style="max-width:15%;height:2px;background-color:rgba(0, 0, 0, 0);"></div></div>
      <h5 class="text-center ">Телефон:</h5>
      <h3 class="text-center"><a href="tel:+7 777 7777777">+7 777 7777777</a></h3>
      <h5 class="text-center">Почта:</h5>
      <h3 class="text-center"><a href="bebeauty@gmail.com">bebeauty@gmail.com</a></h3>
</div></div></div></div>
{% endblock %}