{% extends 'navigation.html' %}
{% block body %}
{% load static %}

{% ifequal error "yes" %}
<script>
    window.location=('{% url 'admin_home' %}');
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Неправильный логин или пароль');
</script>
{% endifequal %}



<div class="container">
<h2 style="margin-top:4%;color:black" align="center">Войти</h2><hr>
<div class="container-fluid" style="width:70%;margin-top:4%">
      <form method="post" action="">
      {% csrf_token %}

        <div class="form-group">
         <label for="exampleInputEmail1" style="font-type:bold">Логин</label>
         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
        </div>
       
        <div class="form-group">
         <label for="exampleInputPassword1">Пароль</label>
         <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
        </div>
        <button type="submit" class="btn btn-danger" style="margin-top:2%;width:100%">ВОЙТИ</button>
      </form>
</div>
</div></div></div></div></div>
{% endblock %}