{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h2 style="font-weight:bold;color :black ;margin-top:10%" align="center">Мой профиль</h2>

<div  class="container-fluid" style="width:80%;margin-bottom:5%"><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Полное имя:</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.first_name}} {{pro.user.last_name}}
        </div>
    </div><hr>


    <div class="row">
        <div class="col-md-6">
            <strong>Почта</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.username}}
        </div>
    </div><hr>

     <div class="row">
        <div class="col-md-6">
            <strong>Контакты:</strong>
        </div>
        <div class="col-md-6">
            {{pro.mobile}}
        </div>
     </div><hr>


    <a href="{% url 'edit_profile' %}"><button class="btn btn-primary" style="width:100%;margin-bottom:5%">Изменить профиль</button></a>
</div></div></div>
{% endblock %}
