{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<center><h2 style="color:black;margin-top:4%;font-family:''">Новые заявки</h2></center>
<center>
<div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
    <tr>
      <th>Полное имя</th>
      <th>Контакты</th>
      <th>Почта</th>
      <th>Действие</th>
    </tr>
  </thead>
   
<tbody>
  {% for i in user %}
  <tr>
    <td>{{i.user.first_name}} {{i.user.last_name}}</td>
    <td>{{i.mobile}}</td>
    <td>{{i.user.username}}</td>
    <td>{{i.status.status}}</td>
    <td><a href="{% url 'assign_user_status' i.id %}"><button class="button button1">Подтвердить заявку</button></a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div></center>
{% endblock %}