{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<center><h2 style="color:black;margin-top:4%;">Посмотреть записи</h2></center>
<center>
<div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th></th>
    <th>Сервис</th>
    <th>Дата записи</th>
    <th>Время записи</th>
    <th>Статус</th>
    <th>Действие</th>
  </tr>
  </thead>
   
<tbody>
{% for i in appoint %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.service.name}}</td>
    <td>{{i.date1}}</td>
    <td>{{i.time1}}</td>
    <td>{{i.status.status}}</td>
    <td><a href="{% url 'delete_appointment' i.id %}"><button class="btn btn-danger">Удалить</button></a></td>
  </tr>
{% endfor %}
</tbody>

</table>

 </div></center>


{% endblock %}